<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LoLConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <LoLConsole.Properties.Settings>
            <setting name="_APIKEY" serializeAs="String">
                <value>?api_key=b729e826-32bd-4f0a-82b3-c31cd3ece046</value>
            </setting>
        </LoLConsole.Properties.Settings>
    </applicationSettings>
</configuration>
